
{% block title %}{% endblock %}






{% block content %}
  <TITLE> Los Santos </TITLE>
   <body bgcolor="F7A008">

      <center>
      <h1>Los Santos</h1>
      </center>



      <center>
          <span class="border border-secondary"></span>
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/97/Panama_-_Los_Santos.svg" class="img-fluid" alt="Responsive image"width="400"
       height="341">
          <HR>
          <img src="./static/lossantos.jpg" class="img-fluid" alt="Responsive image"width="500"
       height="341">
          <HR>
           <img src="./static/mil polleras2.jpg" class="img-fluid" alt="Responsive image"width="500"
       height="341">



      </center>


{% endblock %}


